:host {
    display: inline-block;
    margin: 8px;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
}
.emulator {
    overflow: hidden;
    background-color: #434343;
    height: 100%;
    width: 250px;
    border-radius: 20px;

    &__header {
        height: 300px;
    }

    &__info {
        background-color: #555555;
        padding: 12px;
        p {
            font-size: 14px;
            color: #858585;
        }
        h3 {
            color: white;
        }
        &__header {
            display: flex;
            justify-content: space-between;
            
        }
        &__status {
            display: flex;
            align-items: center;
        }
        &__dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #0DB609;
            margin: 4px 0 4px 6px;
        }
    }
}