:host {
    width: 100%;
    height: 100%;
}

.emulator-page {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    &__container, &__overlay {
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;
    }
    &__container {
        padding: 36px;
        display: flex;
        flex-direction: row;
        width: auto;
        overflow-x: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    &__overlay {
        padding: 12px;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        pointer-events: none;
        button {
            pointer-events: all;
        }
    }
}
